<!-- templates/all_course.html -->
<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>健身房管理平台 - 所有課程</title>
  </head>
  <body>
	<h1>所有課程</h1>
	<table width="60%">
	  <thead align="left">
	    <tr>
	      <th>課程</th>
	      <th>教練</th>
	      <th>上課時間</th>
	      <th>開課日期</th>
	      <th>結業日期</th>
	      <th>價格</th>
	      <th>會員金額(暫時)</th>
	      <th width="100">報名資訊</th>
	    </tr>
	  </thead>
	  <hr style="border-top:1px dashed #0066CC;"/>
	  <tbody>
	    {% for course in course_data %} 
		<tr height="50px">
		  <td>{{ course.Title }}</td>
		  <td>{{ course.c_Name }}</td>
		  <td>{{ course.Day }}</td>
		<!-- <td>{{ course.Time }}</td> -->
		  <td>{{ course.Start }}</td>
		  <td>{{ course.End }}</td>
		  <td>{{ course.Cost }}</td>
		  <td>{{ user_data.money }}</td>
          {% if course.Condition == 1 %}
              <td><input type="button" disabled="disabled" value="已報名"></td>
          {% elif course.Condition == 2 %}
              <td><input type="button" disabled="disabled" value="已額滿"></td>
          {% elif course.Condition == 3 %}
              <td><input type="button" disabled="disabled" value="期限不足"></td>
          {% else %}
              <form action="/insert" method="post" onsubmit="return confirmRegistration({{user_data.money}}, {{course.Cost}})">
                <input type="hidden" name="courseID" value="{{ course.courseID }}">
                <input type="hidden" name="userID" value="{{ user_data.ID }}">
                <input type="hidden" name="userMoney" value="{{ user_data.money }}">
                <input type="hidden" name="courseCost" value="{{ course.Cost }}">
                <td><input type="submit" value="我要報名"></td>
              </form>
          {% endif %}
		</tr>
		{% endfor %}
	  </tbody>
	</table>

	<hr/>

	<script>
		function confirmRegistration(userMoney,courseCost) {
          if(userMoney < courseCost){
              alert("購物金不足，請至櫃台進行儲值後再報名！");
              return false;
          }
          else{

              var confirmed = confirm("你確定要報名嗎？");
              if(!confirmed){
                return false;
              }
            
              alert("報名成功！");
              return true;
          }
		}
	</script>
  </body>
</html>
