<!-- templates/all_course.html -->
<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>健身房管理平台 - 所有課程</title>
  </head>
  <body>
	<h1>所有課程</h1>
	<table width="50%">
	  <thead align="left">
	    <tr>
	      <th>課程</th>
	      <th>教練</th>
	      <th>上課時間</th>
	      <th>開課日期</th>
	      <th>結業日期</th>
	      <th width="100">報名資訊</th>
	    </tr>
	  </thead>
	  <hr style="border-top:1px dashed #0066CC;"/>
	  <tbody>
	    {% for course in course_data %} 
		<tr height="50px">
		  <td>{{ course.Title }}</td>
		  <td>{{ course.c_Name }}</td>
		  <td>{{ course.Day }}</td>
		<!-- <td>{{ course.Time }}</td> -->
		  <td>{{ course.Start }}</td>
		  <td>{{ course.End }}</td>
          {% if course.Condition == 1 %}
              <td><input type="button" disabled="disabled" value="已報名"></td>
          {% elif course.Condition == 2 %}
              <td><input type="button" disabled="disabled" value="已額滿"></td>
          {% elif course.Condition == 3 %}
              <td><input type="button" disabled="disabled" value="期限不足"></td>
          {% else %}
              <form action="/insert" method="post">
                <input type="hidden" name="courseID" value="{{ course.courseID }}">
                <input type="hidden" name="userID" value="{{ userID }}">
                <td><input type="submit" value="我要報名" onclick="confirmRegistration()"></td>
              </form>
          {% endif %}
		</tr>
		{% endfor %}
	  </tbody>
	</table>

	<hr/>

	<script>
		function confirmRegistration() {
		  var confirmed = confirm("你確定要報名嗎？");
  
		  if (confirmed) {
			alert("報名成功！");
		  }
		}
	</script>
  </body>
</html>
