<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>教練 - 我的課程</title>
    </head>

    <body>
	<h1>我開過的課程</h1>
        <table width="100%">
          <thead align="left">
            <tr>
	      <th style="width: 8%;">課程代號</th>
	      <th style="width: 20%;">課程名稱</th>
	      <th style="width: 12%;">上課時間</th>
	      <th style="width: 10%;">開課日期</th>
	      <th style="width: 10%;">結業日期</th>
	      <th style="width: 40%;">課程評價</th>
            </tr>
          </thead>
          <hr style="border-top:1px dashed #0066CC;"/>
          <tbody>
            {% for course in couchcourse_data %}
                <tr height="50px">
                  <td>{{ course.ID }}</td>
                  <td>{{ course.Title }}</td>
                  <td>{{ course.Day }}</td>
                  <td>{{ course.Start }}</td>
                  <td>{{ course.End }}</td>
		  <td>
		      {% if course.comment %}
		      	{{ course.comment }}
		      {% else %}
		        No Comment
		      {% endif %}
		  </td>
            </tr>
                {% endfor %}
          </tbody>
        </table>
        <hr/>
    </body>
</html>
