<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>教練_我要開課</title>
    <script>
      function showConfirmation() {
        alert("課程發布成功！");
      }
      function validateForm() {
        var title = document.getElementById('title').value;

        // 檢查課程名稱是否只包含英文字母
        if (!/^[A-Za-z]+$/.test(title)) {
          // alert('課程名稱只能包含英文字母，請重新輸入。');
          return false;
        }

        showConfirmation();
        return true;
      }

      function updateWeekday(){
        var dateInput = document.getElementById('start_date');
        var weekdayInput = document.getElementById('weekday');
        var selectedDate = new Date(dateInput.value);
        var weekday = selectedDate.toLocaleDateString('en-US', { weekday: 'long' });

        weekdayInput.value = weekday.toLowerCase();
      }

      function setOnHourTime(inputID){
        var inputTime = document.getElementById(inputID);
        var hour = Math.floor(parseFloat(inputTime.value));
        inputTime.value = hour.toFixed(0);
      }

      window.onload = function() {
        var startDateInput = document.getElementById('start_date');
        var today = new Date(); // 取得當下日期
        
        // 設置開課日期的最小值為當下日期
        startDateInput.setAttribute("min", today.toISOString().split("T")[0]);

        // 初始化開課日期為當下日期
        startDateInput.value = today.toISOString().split("T")[0];
        startDateInput.value = "";
        updateEndDateOptions();
      };

      function updateEndDateOptions() {
        var startDateInput = document.getElementById('start_date');
        var today = new Date(); // 取得當下日期
        var startDate = new Date(startDateInput.value);

        startDate.setDate(startDate.getDate() + 1);
        var minEndDate = startDate.toISOString().split("T")[0];
        document.getElementById('end_date').setAttribute("min", minEndDate);
        updateWeekday();
      }


      function updateEndTimeOptions() {
        var startTime = document.getElementById('start_time').value;
        var endTimeSelect = document.getElementById('end_time');

        // 清空下課時間的選項
        endTimeSelect.innerHTML = '';

        // 建立下課時間的選項
        for (var i = parseInt(startTime) + 1; i <= 23; i++) {
          var option = document.createElement('option');
          option.value = i < 10 ? '0' + i : '' + i;
          option.text = option.value + ':00';
          endTimeSelect.appendChild(option);
        }
      }

      function checkEndTime(start, end) {
        var startTime = document.getElementById(start).value;
        var endTime = document.getElementById(end).value;

        var startHour = parseInt(startTime);
        var endHour = parseInt(endTime);

        if (endHour <= startHour) {
          alert("下課時間必須大於上課時間");
          document.getElementById(end).value = '';
        }
      }

    
    </script>
  </head>
  <h1>我要開課</h1>
  <form method="POST" onsubmit="return validateForm()">
    <label for="title">課程名稱：</label>
    <input type="text" id="title" name="title" pattern="[A-Za-z]+" placeholder="請輸入課程名稱" required><br>

    <label for="price">價錢：</label>
    <input type="number" id="price" name="price" placeholder="請輸入課程價錢" required><br>

    <label for="start_date">開課日期：</label>
    <input type="date" id="start_date" name="start_date" placeholder="請輸入開課日期" required onchange="updateEndDateOptions()"><br>
    
    <label for="end_date">結業日期：</label>
    <input type="date" id="end_date" name="end_date" placeholder="請輸入結業日期"><br>

    <label for="weekday">上課星期：</label>
    <input type="text" id="weekday" name="weekday" readonly style="background-color: #d0d0d0d3"><br>

    <label for="start_time">上課時間：</label>
    <select id="start_time" name="start_time" requried onchange="updateEndTimeOptions()">
      <option value=""></option>
      <option value="00">00:00</option>
      <option value="01">01:00</option>
      <option value="02">02:00</option>
      <option value="03">03:00</option>
      <option value="04">04:00</option>
      <option value="05">05:00</option>
      <option value="06">06:00</option>
      <option value="07">07:00</option>
      <option value="08">08:00</option>
      <option value="09">09:00</option>
      <option value="10">10:00</option>
      <option value="11">11:00</option>
      <option value="12">12:00</option>
      <option value="13">13:00</option>
      <option value="14">14:00</option>
      <option value="15">15:00</option>
      <option value="16">16:00</option>
      <option value="17">17:00</option>
      <option value="18">18:00</option>
      <option value="19">19:00</option>
      <option value="20">20:00</option>   
      <option value="21">21:00</option>
      <option value="22">22:00</option> 
      <option value="23">23:00</option>
    </select><br>

    <label for="end_time">下課時間：</label>
    <select id="end_time" name="end_time" required onchange="checkEndTime('start_time','end_time')" >
      <option value=""></option>
      <option value="00">00:00</option>
      <option value="01">01:00</option>
      <option value="02">02:00</option>
      <option value="03">03:00</option>
      <option value="04">04:00</option>
      <option value="05">05:00</option>
      <option value="06">06:00</option>
      <option value="07">07:00</option>
      <option value="08">08:00</option>
      <option value="09">09:00</option>
      <option value="10">10:00</option>
      <option value="11">11:00</option>
      <option value="12">12:00</option>
      <option value="13">13:00</option>
      <option value="14">14:00</option>
      <option value="15">15:00</option>
      <option value="16">16:00</option>
      <option value="17">17:00</option>
      <option value="18">18:00</option>
      <option value="19">19:00</option>
      <option value="20">20:00</option>   
      <option value="21">21:00</option>
      <option value="22">22:00</option> 
      <option value="23">23:00</option>
    </select><br>
        
    <input type="submit" value="提交">
  </form>
  
</html>
