<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>健身房管理平台 - 周邊商品</title>
    </head>
    <body>
        <h1>周邊商品</h1>
        <table width="50%">
            <thead align="left">
                <tr>
                    <th>商品</th>
                    <th>價錢</th>
                    <th>庫存</th>
                    <th>購買</th>
                </tr>
            </thead>
            <hr>
            <tbody>
            {% for comm in comm_data %} 
            <tr height="50px" width="25px">
                <td>{{ comm.name }}</td>
                <td>{{ comm.cost }}</td>
                <td>{{ comm.store }}</td>
                <form action="/buy" method="POST">
                    <input type="hidden" name="commid" value="{{ comm.id }}">
                    <td><input type='number' name='buynum' value='0' min='0'  max='{{ comm.store }}'><input type="submit" value="下單" onclick="buycommodity()"></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <script>
            function buycommodity() {
              var confirmed = confirm("確定下單？");
              if (confirmed) {
                alert("下單成功！");
              }
            }
        </script>
    </body>
</html>