<!--丟在equipment.html-->
<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width">
	    <title>健身房管理平台 - 所有設備</title>
    </head>
    
        <h1>查詢器材</h1>
        <form action="/my_equip" method="POST">
            <input type="hidden" name="userID" value="{{ userID }}">
            <td><input type='submit' value="我的租借"></td>
        </form>
        <body>
            <form  action="/search" method="POST"  >   
                <p>
                    <label for="">查詢日期 </label>
                    <input type="date" id="date" name="date"  value="{{ today }}" min="{{ today }}" >
                </p>

                <p>
                    <label for="">查詢時間 </label>
                    <input type="number" id="TimeS" name="TimeS" value='0'  min='0'  max='23' placeholder="起" required>
                    <input type="hidden" name="userID" value="{{ userID }}">
                    <input type='submit' value="查詢" onclick="return time_error()">
                </p>


            </form>
            <script>
                function time_error() {
                    var input = document.getElementById('date');
                    var date = input.value;
                    // console.log(date)
                    var input = document.getElementById('TimeS');
                    var TimeS = parseInt(input.value);

                    var today = new Date();
                    var month = today.getMonth() + 1
                    var day = today.getDate()
                    if (day<10){
                        var day = "0" + day
                    }
                    var newdate = today.getFullYear() + "-" + "0" + month + "-" + day
                    // console.log(newdate)
                    var nextHour = today.getHours() + 1;
                    if (date == newdate) {
                        if (TimeS < nextHour){
                            alert("錯誤，請輸入有效的時間。");
                            return false;
                        }
                    }
                }
            
            </script>
            <hr style="border-top:1px dashed #0066CC;"/>
            <h1>查詢結果</h1>
            
                <p>
                    <label for ="">租借日期</label>
                    <th>{{ dateBorrow }}</th>
                    
                </p>
                <p>
                    <label for ="">租借時間</label>
                    <th>{{ timeBorrow }}</th>
                </p>


        <table width="50%" >
            

            <thead align="left">
                <tr>
                <th>設備</th>
                <th>可用數量</th>
                <th>租借數量</th>
    
                </tr>
            </thead>
			
            <tbody>
                {% for equip in equipment_data %}
                    <tr height="50px">
                       <td>{{ equip.Equipment }}</td>
                       <td>{{ equip.count }}</td>
                       <form action="/borrow" method="POST">
                            <input type="hidden" name="Equipment" value="{{ equip.Equipment  }}">
                            <input type="hidden" name="DateBorrow" value="{{ equip.dateBorrow }}">
                            <input type="hidden" name="TimeBorrow" value="{{ equip.timeBorrow  }}">
                            <input type="hidden" name="userID" value="{{ userID }}">
                            <td><input type='number'  id='Quantity' name='Quantity' value='0' min='1'  max='{{ equip.count }}' "/> <input type='submit' value="租借"></td>
                       </form>                             
                    </tr>
                
                {% endfor %}


                  
            </tbody>
            
            <hr/>
            
			
			
        </table>

</html>

    
