<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>忘記帳號</title>
		</script>
	</head>
	<body>
	    <h2>請輸入以找回帳號</h2>
    	<form action="/forget_id" method="post">
        	<label for="name">姓名：</label>
	        <input type="text" name="name" id="name" required>
    	    <br><br>
        	<label for="birth">生日日期：</label>
	        <input type="date" name="birth" id="birth" required>
    	    <br><br>
        	<label for="email">Email：</label>
	        <input type="text" name="email" id="email" required>
    	    <br><br>
        	<label for="phone">電話號碼：</label>
	        <input type="text" name="phone" id="phone" required>
    	    <br><br>
        	<input type="submit" value="確定">
    </form>
	</body>
</html>

