<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>登入</title>
	</head>
	<body>
		<h2>登入介面</h2><br>
		<div class="login">
			<form id="login" action="/login" method="post">
				<label><b>帳號:</b></label>
				<input type="text" name="Uname" id="Uname" maxlength="100" placeholder="請輸入帳號"/>
				<br><br>
				<label><b>密碼：</b></label>
				<input type="Password" name="Pass" id="Pass" placeholder="請輸入密碼"/>
				<br><br>
				<input type="submit" name="" value="登入"/>
				<a href="register">註冊會員</a>
				<a href="forget_id">忘記帳號</a>
				<br><br>
			</form>
		</div>
	</body>
</html>

