<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>健身房管理平台 - 周邊商品</title>
    </head>
    <body>
        <h1>我的商品</h1>
        <table width="25%">
            <thead align="left">
                <tr>
                    <th>商品編號</th>
                    <th>商品名稱</th>
                    <th>數量</th>
                </tr>
            </thead>
            <hr>
            <tbody>
            {% for comm in comm_data %} 
            <tr height="50px" width="25px">
                <td>{{ comm.commid }}</td>
                <td>{{ comm.commname }}</td>
                <td>{{ comm.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </body>
</html>